/*
	-- begin reset
*/


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,dask,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}


/*
	-- end reset
*/

body {
	font-family:  Helvetica, Arial, sans-serif; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-style: normal;
	text-transform: initial;
	/*background-color: #ffff;*/
	transition :0.7s;
	position: relative;
	height: 100%;
}

#wrapper {
	width: 60%;
	margin: 0 auto;
	height: 100%;
}

header, article, h1 {
	font-weight: 400; /* changes thickness!!*/
	color: #000;
}

header {
	margin-top: 34px;
}

header h1 {
	font-family:  Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 40px;
	line-height: normal;
	/*font-style: italic;*/
	text-align: center;
	display: none;
}

#output {
	font-size: 48px;
	line-height: normal;
	/*margin: 60px 0;*/
}

noscript {
	font-weight: 800;
	font-size: 45px;
	line-height: 48px;
	margin: 60px 0;
}

#output dt {
	font-family: Helvetica, Arial, sans-serif; /*"Times New Roman", Times, serif;*/
	font-size: 40px;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	display: block;
	margin-top: 110px;
	margin-bottom: 50px;
}

#output dd {
	font-family: "Times New Roman", Times, serif;
	font-size: 54px;
	display: block;
	text-align: left;
	/*line-height: 54px;*/
	line-height:110%;
	text-indent: 0%;
	margin-top: 50px;
	margin-bottom: 140px;
	/*color: white; */
}

#output dask {
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	display: block;
}


#likebtn {
	text-decoration:  underline;
	font-size: 20px;
	color: #000;
	position: relative;
	bottom: 0;
	left: 0;
}

#dislikebtn {
	margin-right: 20px;
	font-size: 20px;
	color: #000;
	position: relative;
	bottom: 0;
	right: 0;
}



a {
  -webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
	margin:-60px 2% 0% 2%;
	width:100px;
	height: 100px;
	transition-timing-function: all 1s ease-in-out;
}

/*
animation: scaleing 1s ease-in-out infinite;
-webkit-filter: drop-shadow(2px 2px 2px #222);
filter: drop-shadow(2px 2px 2px #222);*/


img:hover{
	transition-timing-function: all 1s ease-in-out;
	transform: scale(1.1);
}

img:active{
	transform: scale(0.9);
	opacity: 0.5;
	}

aside {
	position: absolute;
	margin: 12px 8px;
	right: 0;
	top: 0;
}

footer {
	position:  fixed;
	text-align: center;
	line-height: 130%;
	font-size: 12px;
	color: #666;
	bottom: 0;
	margin: 20px 0px 0px 0px;
	left:50%;
	transform: translate(-50%, -50%);
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	text-decoration: underline;
}



@media only screen and (orientation: portrait) {
	#wrapper {
		width: 85%;
	}

	#output dt {
		font-size: 56px;
		margin-top: 130px;
		margin-bottom: 60px;
		font-weight: 800;
		text-transform: uppercase;
	}

	#output dd {
		font-size: 74px;
		margin-top: 50px;
		margin-bottom: 180px;
		text-align: left;
		word-wrap: break-word;	}

	#output dask {
		font-size: 50px;
		margin-bottom: 30px;
		font-weight: 800;
	}

	img {
		margin: 0% 2% 2% 2%;
		width: 160px;
		height: 160px;
	}
	img:hover {
		transform: scale(0.9);
		opacity: 0.5;
	}

	img:active{
		/*transform: scale(0.9);*/
		opacity: 0.5;
		}


	footer {
		font-size: 20px;
		line-height: normal;
		left: 50%;
		margin-top: 100px;
		transform: translate(-50%, -50%);
	}
}

@media only screen and (orientation:landscape) and (max-height: 750px) and (max-width:1320px){
	img {
		margin: 2% 2% 2% 2%;
		width: 100px;
		height: 100px;
	}
	img:hover{
		transform: scale(.9);
		opacity: 0.5;
		}
	footer {
		position: relative;
		font-size: 12px;
		line-height: 130%;
		left: 50%;
		margin-top: 100px;
		transform: translate(-50%, -50%);
	}
}
